@charset "utf-8";

/* Font */
/* @font-face {
	font-family:ns;
	src:url('../fonts/NotoSans-Thin.eot');
	src:local(※),
		url('../fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans-Thin.woff') format('woff'),
		url('../fonts/NotoSans-Thin.woff2') format('woff2'),
		url('../fonts/NotoSans-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal
}
@font-face {
	font-family:ns;
	src:url('../fonts/NotoSans-Light.eot');
	src:local(※),
		url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans-Light.woff') format('woff'),
		url('../fonts/NotoSans-Light.woff2') format('woff2'),
		url('../fonts/NotoSans-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family:ns;
	src:url('../fonts/NotoSans-Regular.eot');
	src:local(※),
		url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans-Regular.woff') format('woff'),
		url('../fonts/NotoSans-Regular.woff2') format('woff2'),
		url('../fonts/NotoSans-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family:ns;
	src:url('../fonts/NotoSans-Medium.eot');
	src:local(※),
		url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans-Medium.woff') format('woff'),
		url('../fonts/NotoSans-Medium.woff2') format('woff2'),
		url('../fonts/NotoSans-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal
}
@font-face {
	font-family:ns;
	src:url('../fonts/NotoSans-Bold.eot');
	src:local(※),
		url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSans-Bold.woff') format('woff'),
		url('../fonts/NotoSans-Bold.woff') format('woff2'),
		url('../fonts/NotoSans-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal
} */

body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr, figure {margin:0;padding:0;font-family:ns, Arial, dotum;word-break:break-all;vertical-align:top;}
h1,h2,h3,h4,h5,h6,strong,th {font-weight:normal;}
em,span,strong,a,button,i {font-size:100%;}
em,address {font-style:normal;}
ol,ul,dl {list-style:none;}
fieldset,img,hr,button {border:0;}
img,input,textarea,select {vertical-align:top;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
legend,caption {overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0;}
a {text-decoration:none;}
button {overflow:visible;margin:0;padding:0;background:none;border-radius:0;cursor:pointer;outline:none;}
input,textarea,select {background:transparent;border:none;border-radius:0;-webkit-border-radius:0;-moz-appearance:none;-webkit-appearance:none;appearance:none;outline:none;} /* 모바일 한정 */
textarea {resize:none;}
input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=text]::-ms-reveal,input[type=password]::-ms-reveal {display:none;}
select {outline:none;border:none;border-radius:0;}
select::-ms-expand {display:none;}
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.clfix:after {content:"";display:block;clear:both;visibility:hidden;height:0;}

/* header */
#header {position:fixed; top:0; left:0; right:0; padding:0 20px; z-index:9999;}
#header .logo {position:relative; z-index:3; padding:20px 0;}
#header .logo a {color:#fff;}
.toggleBtn {position:absolute; top:20px; right:20px; z-index:3; width:40px; height:40px;}
.toggleBtn .line {position:absolute; top:5px; right:0; width:100%; height:3px; background-color:#fff;}
.toggleBtn .line:nth-child(2) {top:18px;}
.toggleBtn .line:nth-child(3) {top:auto; bottom:6px;}

#gnb {position:fixed; top:0; left:0; right:0; z-index:1; width:100%; box-sizing:border-box; transform-origin:0 0; transform:translateY(-100%);}
.menu {position:relative; z-index:1; padding:77px 20px; background-color:#fff; text-align:center;}
.menu li {margin-top:30px;}
.menu li a {font-size:2em; color:#333;}

.dimColor {position:absolute; top:0; left:0; z-index:0; width:100%; height:489px; font-size:0; transform-origin:0 0; transform:translateY(-100%);}
.dimColor span {display:inline-block; width:25%; height:100%; background-color:#ff4e50; transform-origin:0 0; transform:scaleY(0);}